{% extends "base.html" %}
{% block content %}
{% if articles %}
{% for article in articles_page.object_list %}
<article class="box post post-excerpt">
    {% include 'article_header.html' %}
    {% if article.image %}
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"><img class="featured" src="{{ article.image }}" alt="" /></a>
    {% endif %}
    {% if article.summary %}
    {{ article.summary }}

    {% if article.summary != article.content %}
    <div><a href="{{ SITEURL }}/{{ article.url }}">Read more</a></div>
    {% endif %}
    {% endif %}
</article>
{% endfor %}

{% if DISQUS_SITENAME and SITEURL %}
<script id="dsq-count-scr" src="//{{ DISQUS_SITENAME }}.disqus.com/count.js" async></script>
{% endif %}
{% endif %}

{% if articles_page.has_other_pages() %}
{% include 'pagination.html' %}
{% endif %}

{% endblock content %}
