{% if DEFAULT_PAGINATION %}
<!-- Pagination -->
<div class="pagination">
    {% if articles_page.has_previous() %}
    <a href="{{ SITEURL }}/{{ articles_previous_page.url }}" class="button previous">Previous Page</a>
    {% endif %}
    <div class="pages">
    {% for i in range(1, articles_paginator.num_pages + 1) %}
        {% if i == articles_page.number %}
        <a href="#" class="active">{{ i }}</a>
        {% else %}
        <a href="{{ SITEURL }}/{{ articles_paginator.page(i).url }}">{{ i }}</a>
        {% endif %}
    {% endfor %}
    </div>
    {% if articles_page.has_next() %}
    <a href="{{ SITEURL }}/{{ articles_next_page.url }}" class="button next">Next Page</a>
    {% endif %}
</div>
{% endif %}
